.banner {
    width: 100%;
    height: 70%;
    max-width: 1200px;
    max-height: 700px;
    position: relative;
    background: linear-gradient(to top, #000 40%, transparent); /* Gradient background */
    text-align: center;
    margin: 0 auto; /* Center the banner within its container */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        160deg,
        rgba(243, 240, 240, 0.3),
        rgba(10, 10, 10, 0.9)
    );
    pointer-events: none; /* Allow clicks to pass through */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Ensure content is visible over the image */
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    background-image: linear-gradient(
        120deg,
        rgba(243, 240, 240, 0.3),
        rgba(10, 10, 10, 0.3)
    );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.content button {
    margin-top: 20px;
    padding: 10px 15px;
    background: linear-gradient(
        to right,
        #ff105f,
        #ffad06
    );
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content button::before {
    content: "click me"; /* Add the text here */
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    color: white; /* Set the text color */
    font-weight: bold; /* Optional: Make the text bold */
}




.content button:hover::before
 {
    z-index: 0;
    animation: animateButton 2s linear infinite ;
    content: "click me";
   
    
}


/* animation for the button */
@keyframes animateButton {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

/* css for slider */
.slider{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the banner within its container */
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
   
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
    transition: filter 0.5s ease-in-out;
}
.slider .list .item img{
    width: 100%;
}

/* animation for the list */
@keyframes autoRun {
    from{
        left: 100%;
    }
    to{
       left: calc(var(--width)* -1)
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}